# XGBoost 모델 테스트
---

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import xgboost

In [6]:
def connect_year_month(data: pd.DataFrame, year: str, month: str, is_num=True):
    """connect year and month column to datetime
    Args:
        data (pd.DataFrame): dataframe
        year (str): year column name
        month (str): month column name

    Returns:
        pd.DataFrame: dataframe
    """
    data_c = data.copy()
    data_c[year] = data_c[year].astype(str)
    data_c[month] = data_c[month].astype(str)

    if is_num == False:
        if data_c[year].iloc[0][-1] == "년":
            data_c[year] = data_c[year].str[:-1]
        if data_c[month].iloc[0][-1] == "월":
            data_c[month] = data_c[month].str[:-1]

    data_c[year] = data_c[year] + "-" + data_c[month]
    data_c[year] = pd.to_datetime(data_c[year])
    data_c.drop(columns=month, inplace=True)

    return data_c

## [1] 데이터 로딩
---

In [10]:
target = pd.read_csv("./target.csv")

data = pd.read_csv("./data.csv")

In [4]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    300 non-null    object
 1   IND     300 non-null    int64
 2   CIVIL   300 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              300 non-null    int64
 1   MONTH             300 non-null    int64
 2   AT                300 non-null    float64
 3   LT                300 non-null    float64
 4   HT                300 non-null    float64
 5   CAP_TEMP_EF       300 non-null    float64
 6   DONGNAM_TEMP_EF   300 non-null    float64
 7   DAEGYUNG_TEMP_EF  300 non-null    float64
 8   CHOONG_TEMP_EF    300 non-null    float64
 9   HONAM_TEMP_EF     300 non-null    float64
 10  MEAN_TEMP_EF      300 non-null    float64
 11  POWER_WATER       300 non-null    int64
 12  POWER_FIRE        300 non-null    int64
 13  POWER_NUCLEAR     300 non-null    int64
 14  POWER_NAEYEON     300 non-null    int64
 15  POWER_GROUP       300 non-null    int64
 16  POWER_TRANS       300 non-null    int64
 17  POWER_GAS         300 non-null    int64
 18  POWER_JUNG        300 non-null    int64
 19  POWER_MOO         300 non-null    int64
 20  POWER_YOU         300 non-null    int64
 21  POWER_LNG         300 non-null    float64
 22  all               300 non-null    int64
 23  family            300 non-null    int64
 24  public            300 non-null    int64
 25  service           300 non-null    int64
 26  civil_sum         300 non-null    int64
 27  argri_fishing     300 non-null    int64
 28  mining            300 non-null    int64
 29  manufact          300 non-null    int64
 30  ind_sum           300 non-null    int64
 31  CIV               300 non-null    int64
 32  IND               300 non-null    int64
dtypes: float64(10), int64(23)
memory usage: 77.5 KB

## [2] 데이터 전처리
---

In [11]:
target_civil = target["CIVIL"]
target_ind = target["IND"]

data_dt = connect_year_month(data, year="YEAR", month="MONTH")

In [13]:
data_final = data_dt.drop(columns=["CIV", "IND"])

In [14]:
data_final.to_csv("data_final.csv")