# 판매전력추이 - 결측치 시계열
---

In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

## [1] 함수 정리
---

## [2] 데이터 로딩
---

In [7]:
df_97_20 = pd.read_csv("./용도별판매전략_97_20.csv")

In [8]:
df_97_20.head(5)

,시점,합계,가정용,공공용,서비스업,민수용_합계,농림어업,광업,제조업,산업용_합계
0,1997-01-01,16224867,2814138,557379,3616542,6988059,301811,80421,8854576,9236808
1,1997-02-01,15363840,2788312,558610,3551611,6898533,327617,70471,8067220,8465308
2,1997-03-01,16094268,2555048,528672,3333225,6416945,345359,81877,9250086,9677322
3,1997-04-01,16266027,2629204,555354,3430624,6615182,292235,84596,9274014,9650845
4,1997-05-01,16028072,2525076,511468,3333483,6370027,302913,80963,9274169,9658045